* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #fffbf7;
    margin: 0;
}
p {
    color: #8b8b8bcc;
}
button {
    color: #fff; 
    background-color: #025157;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.header {
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;*/
    
    margin: 20px 20px 100px;
    font-size: 0px;
    height: 45px;
    font-family: sans-serif;
}
.header li {
    display: inline;
    margin: 25px;
}
.logo {
    width: 15%;
}
.logo > img {
    height: 100%;
}
.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
    font-size: large;
}
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
.actions > a {
    color: #67b54b;
}
.actions > button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px 12px;
    border: 0;
    border-radius: 5px;
}
.main{
    margin: 20px 0;
    text-align: center;
}
h1 {
   color: #025157;
   font-family: "Alegreya", serif;
   font-weight: 800;
   font-size: 60px;
   margin-bottom: 24px;
}
h4 {
    color: #46484c;
    font-size: 20px;
    font-weight: lighter; 
}    
.form {
    margin: 25px 0px 15px;
    display: inline-block;
}
.form > input {
    padding-inline-end: 50px;
    padding-top: 20px;
    padding-inline-start: 15px;
    padding-bottom: 20px;
    border-width: thin;
    border-radius: 8px; 
    border-end-end-radius: 0;
    text-align: left;
}
.form > button {
    padding: 21px 30px 21px;
    margin-left: -18px;
    border: 0;
    border-radius: 8px;
    border-end-start-radius: 0;
    border-top-left-radius: 0;
    text-align: center;
}
.trial {
    margin-bottom: 40px;
    font-size: 18px;
}
.img2 {
    width: 70%;
    margin: 30px 0;
}
