* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #fffbf7;
    margin: 0;
}
button {
    color: #fff; 
    background-color: #025157;
}
.fix-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.header {
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;*/
    
    margin: 20px 20px;
    font-size: 0px;
    height: 45px;
    font-family: sans-serif;
}
.header li {
    display: inline;
    margin: 25px;
}
.logo {
    width: 15%;
}
.logo > img {
    height: 100%;
}
.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
    font-size: large;
}
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
.actions > a {
    color: #67b54b;
}
.actions > button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px 12px;
    border: 0;
    border-radius: 5px;
}
.main{
    text-align: center;
    margin-top: 285px;
}
h1 {
   color: #025157;
   font-family: "Alegreya", serif;
   font-weight: 800;
   font-size: 60px;
   margin-bottom: 24px;
}
h4 {
    color: #46484c;
    font-size: 20px;
    font-weight: lighter; 
}    
.form {
    margin: 25px 0px 15px;
    display: inline-block;
}
.form > input {
    padding: 16px 15px;
    border: 1px solid #b6b6b6;;
    border-radius: 8px; 
    border-end-end-radius: 0;
    text-align: left;
    height: 100%;
}
.form > button {
    padding: 16px 20px;
    margin-left: -18px;
    border: 1px solid #b6b6b6;
    border-radius: 8px;
    border-end-start-radius: 0;
    border-top-left-radius: 0;
    text-align: center;
}
.trial {
    color: #8b8b8bcc;
    margin-bottom: 40px;
    font-size: 18px;
}
.img2 {
    width: 70%;
    margin: 30px 0;
}
.promo {
    display: flex;
    flex-direction: row;
    margin: 50px /*auto*/ 80px;
    /*width: 70%;*/
    align-items: center;
}
.promo .exp-video {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promo .exp-video .youtube {
    margin-bottom: 10px;
}
.promo .exp-video .img3 {
    width: 120px;
    margin-top: 10px;
}
.publish {
    flex: 1;
}
.publish h3 {
   color: #025157;
   font-family: "Alegreya", serif;
   font-weight: 800;
   font-size: 40px;
   line-height: 48px;
}
.publish > p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.publish .publish-text > p {
    color: #8b8b8bcc;
    margin-right: 18px;
}
.features {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    height: 800px;
    background-color: #025157;
    padding: 5% 10%;
}
.features .feature-card {
    background-color: #ffff;
    margin: 0 15px 30px;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
.features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
}
.features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
}
.features .feature-card .feature-content img {
    width: 50px;
}
.features .feature-card .feature-content figure {
    width: 50px;
    margin-left: 0;
}
.features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}
.features .feature-card .feature-content p {
    font-size: 1rem;
    color: #7e7e7e;
    font-weight: 400;
}
.features .feature-card .feature-content a {
    font-size: 1rem;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.features .feature-card .feature-img {
    flex: 1;
    margin-top: 0;
    position: relative;
    width: 40%;
    right: -50px;
    height: 80%;
    transition: right 1s;
}
.features .feature-card .feature-img:hover {
    right: 0;
}
.features .feature-card .feature-img figure, .features .feature-card .feature-img img {
    margin-top: 0;
    height: 100%;
}

.success-stories {
    background-color: #a1d683;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 800px;
    /*padding: 0;
    margin: 0;
    align-content: center;*/
}
.success-stories .overview {
    flex: 2;
    align-items: center;
    width: 400px;
    height: 400px;
    padding: 90px;
    margin: auto;
}
.success-stories .overview h2 {
   color: #025157;
   font-family: "Alegreya", serif;
   line-height: 61px;
   font-size: 51px;
   font-weight: 710;
}
.success-stories .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;    
}
.success-stories .overview img {
   width: 600px; 
}
.success-stories .overview button {
    padding: 12px 12px 6px 12px;
    height: 45px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;lign-items: center;
    
}
.success-stories .stories-carousel {
    flex: 1;
    align-items: center;
    width: 400px;
    height: 400px;
    padding: 90px;
    margin: auto;
    /*background-color: #fff;*/
}
.card .card-media img {
    width: 150px;
}