* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #fffbf7;
    margin: 0;
}
button {
    color: #fff; 
    background-color: #025157;
}
.fix-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.header {
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;*/
    
    margin: 20px 20px;
    font-size: 0px;
    height: 45px;
    font-family: sans-serif;
}
.header li {
    display: inline;
    margin: 25px;
}
.logo {
    width: 15%;
}
.logo > img {
    height: 100%;
}
.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
    font-size: large;
}
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
.actions > a {
    color: #67b54b;
}
.actions > button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px 12px;
    border: 0;
    border-radius: 5px;
}
.main{
    margin: 250px 0; 
    text-align: center;
}
h1 {
   color: #025157;
   font-family: "Alegreya", serif;
   font-weight: 800;
   font-size: 60px;
   margin-bottom: 24px;
}
h4 {
    color: #46484c;
    font-size: 20px;
    font-weight: lighter; 
}    
.form {
    margin: 25px 0px 15px;
}
.form > input {
    padding: 15px 20px;
    border-radius: 8px;
    border: 1px solid #b6b6b6;
    text-align: left;
    height: 100%;
}
.form > button {
    padding: 16px 20px;
    margin-left: -15px;
    border: 1px solid #b6b6b6;
    border-radius: 8px;
    border-start-start-radius: 0;
    text-align: center;
}
.trial {
    color: #8b8b8bcc;
    margin-bottom: 40px;
    font-size: 18px;
}
.img2 {
    width: 70%;
    margin: 30px 0;
}
.promo {
    display: flex;
    flex-direction: row;
    margin: 100px auto;
    width: 70%;
    align-items: center;
}
.promo .exp-video {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promo .exp-video img {
    width: 120px;
    margin-top: 10px;
}
.publish {
    flex: 1;
}
.publish h3 {
   color: #025157;
   font-family: "Alegreya", serif;
   font-weight: 800;
   font-size: 40px;
   line-height: 48px;
}
.publish > p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.publish .publish-text > p {
    color: #8b8b8bcc;
    margin-right: 18px;
}
